.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.query-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-top: 48px;
  padding-bottom: 24px;
}

.query-searcher {
  flex-grow: 1;
}

.query-limit {
  flex-basis: 201px;
  margin-left: 12px;
}

.query-result-box {
  overflow-y: scroll;
  flex-shrink: 1;
  flex-grow: 1;
  padding-top: 48px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.keywords-bar {
  display: flex;
  flex-direction: row;
  padding-bottom: 21px;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
}

.keywords-title {
  font-size: 12px;
  color: #8C8C8C;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 48px;
  margin-right: 12px;
}

.keywords {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  row-gap: 8px;
}

.empty {
  margin-top: 96px;
}

.pdf-page-card {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 24px;
  margin-top: 12px;
  margin-bottom: 18px;
  margin-left: 4px;
  margin-right: 4px;
  box-shadow: 2px 2px 2.5px #E5E5E5;
}

.text {
  font-size: 14px;
  color: #8C8C8C;
  margin-top: 35px;
}