.query-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 48px;
  padding-bottom: 24px;
}

.query-result-box {
  padding-top: 24px;
  padding-bottom: 24px;
  overflow-y: scroll;
  flex-shrink: 1;
  flex-grow: 1;
}