.paragraph {
  color: #BCBCBC;
  padding-top: 8px;
  padding-bottom: 8px;

  > p {
    line-height: 100%;
  }
}

.chunk {
  color: #323232;
}

.highlight {
  color: #323232;
  background-color: #FDDD9B;
}